<div class="container-center-horizontal">
  <div class="frame-1 screen">
    <div class="overlap-group">
      <div class="overlap-group7">
        <h1 class="title roboto-bold-blue-whale-24px">AntiCoVi</h1>
        <img
          class="vector"
          src="https://anima-uploads.s3.amazonaws.com/projects/60812c070afd67277761228b/releases/60812c60d5fcd14c2857017a/img/vector@2x.svg"
        />
      </div>
      <div class="gi-phn-hi-1">
        <a onclick="window.event.stopPropagation()"
          ><div class="gi-phn-hi roboto-bold-blue-whale-18px">Gửi phản hồi</div></a
        >
      </div>
      <div class="thng-tin-dch-t roboto-bold-blue-whale-18px">Thông tin dịch tễ</div>
      <div class="bn-dch-t roboto-bold-blue-whale-18px">Bản đồ dịch tễ</div>
      <div class="tin-tc roboto-bold-blue-whale-18px">Tin tức</div>
      <div class="overlap-group6">
        <img
          class="rectangle-1"
          src="https://anima-uploads.s3.amazonaws.com/projects/60812c070afd67277761228b/releases/60812c60d5fcd14c2857017a/img/rectangle-1@2x.svg"
        />
        <img
          class="rectangle-2"
          src="https://anima-uploads.s3.amazonaws.com/projects/60812c070afd67277761228b/releases/60812c60d5fcd14c2857017a/img/rectangle-2@2x.svg"
        />
        <div class="log-in roboto-bold-onahau-18px">Log in</div>
        <div class="sign-up roboto-bold-onahau-18px">Sign up</div>
      </div>
    </div>
    <div class="overlap-group4">
      <div class="rectangle-10"></div>
      <div class="overlap-group8"><div class="khai-bo-y-t valign-text-middle">KHAI BÁO Y TẾ</div></div>
    </div>
    <div class="tin-tc-1">TIN TỨC</div>
    <div class="flex-row">
      <div class="overlap-group3">
        <div class="text-1 roboto-bold-green-blue-18px">
          Nghệ An: Chưa nhận được phản ứng nặng sau tiêm vắc-xin phòng COVID-19
        </div>
        <img
          class="phat-hien-nguoc-xin-covid-19-1"
          src="https://anima-uploads.s3.amazonaws.com/projects/60812c070afd67277761228b/releases/60812c60d5fcd14c2857017a/img/phat-hien-nguoc-doi-ve-tac-dung-phu-cua-vac-xin-covid-19-1@2x.png"
        />
      </div>
      <img
        class="vector-1"
        src="https://anima-uploads.s3.amazonaws.com/projects/60812c070afd67277761228b/releases/60812c60d5fcd14c2857017a/img/vector-1@2x.svg"
      />
      <div class="flex-col">
        <div class="overlap-group1">
          <div class="rectangle-"></div>
          <div class="rectangle--1"></div>
          <div class="vit-nam valign-text-middle roboto-bold-white-18px-2">VIỆT NAM</div>
          <div class="frame-">
            <div class="overlap-group5">
              <div class="s-ca-nhim valign-text-middle roboto-bold-blue-whale-18px">Số ca nhiễm</div>
              <div class="ang-iu-tr valign-text-middle roboto-bold-green-blue-18px">Đang điều trị</div>
              <div class="khi valign-text-middle roboto-bold-navy-blue-18px">Khỏi</div>
              <div class="t-vong valign-text-middle roboto-bold-dodger-blue-18px">Tử vong</div>
            </div>
          </div>
          <div class="address valign-text-middle roboto-bold-blue-whale-18px">2 801</div>
          <div class="number valign-text-middle roboto-bold-green-blue-18px">272</div>
          <div class="address-1 valign-text-middle roboto-bold-navy-blue-18px">2 490</div>
          <div class="number-1 valign-text-middle roboto-bold-dodger-blue-18px">35</div>
        </div>
        <div class="overlap-group2">
          <div class="rectangle-"></div>
          <div class="rectangle--1"></div>
          <div class="th-gii valign-text-middle roboto-bold-white-18px-2">THẾ GIỚI</div>
          <div class="frame-">
            <div class="overlap-group5">
              <div class="s-ca-nhim valign-text-middle roboto-bold-blue-whale-18px">Số ca nhiễm</div>
              <div class="ang-iu-tr valign-text-middle roboto-bold-green-blue-18px">Đang điều trị</div>
              <div class="khi valign-text-middle roboto-bold-navy-blue-18px">Khỏi</div>
              <div class="t-vong valign-text-middle roboto-bold-dodger-blue-18px">Tử vong</div>
            </div>
          </div>
          <div class="phone valign-text-middle roboto-bold-blue-whale-18px">109 469 508</div>
          <div class="phone-2 valign-text-middle roboto-bold-green-blue-18px">25 341 731</div>
          <div class="phone-1 valign-text-middle roboto-bold-navy-blue-18px">81 563 167</div>
          <div class="phone-3 valign-text-middle roboto-bold-dodger-blue-18px">2 413 158</div>
        </div>
      </div>
    </div>
  </div>
</div>
